/*a is a way of accessing every link element*/
a{
	color: red;
}
li{
	margin-bottom: 30px;
}
/*dot is a way to access the a class*/
.sidebar-link{
	color: white;
	text-decoration: none;
	/*background: blue;*/
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
}
.col-lg-12{
	background: red;
}
.col-lg-4{
	background: blue;
}
.col-lg-8{
	background: green;
}