extends layout

block content
	h2 This is the About page
	p Using the layout template

	ul
		each name in namelist
			li= name

	if is_meeting_on
		h1 The meeting is on
	else
		h1 The meeting has ended. See you next saturday